
/* Styles pour les écrans de bureau (desktop) */
@font-face {
  font-family: SeizeBit;
  src: url(Font/PressStart2P-Regular.ttf);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  width: auto;
  background-image: url("img/back.gif");
  background-repeat: no-repeat;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone d'arrière-plan */
  background-attachment: fixed;
  background-position: center;
}

main {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
}

.titre{
  font-family: seizeBit;
  width: 99%;
  height: 180px;
  margin: -21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:450%;
  text-decoration:underline;
}


.formulaire {
  zoom: 130%;
  width: 100%;
  max-width: 510px; /* Largeur maximale pour une meilleure lisibilité */
  margin: auto; /* Centre le formulaire horizontalement */
  margin-top: 100px;
  text-align: left; /* Réinitialise le centrage du texte */
  padding: 20px; /* Ajoute un peu d'espace intérieur */
  background-color: #f26828;
  background-size: cover;
  border-radius: 10px; /* Arrondi les coins */
  box-shadow: 0 0 50px rgba(0, 0, 0, 1); /* Ajoute une légère ombre */
}


/* Style des champs de texte et des sélecteurs */
.formulaire input,
.formulaire select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Ajoute une bordure légère */
  border-radius: 5px;
  font-size: 16px;
}

/* Style du bouton de soumission */
.formulaire .go {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  font-family: seizeBit;
}

.labelPair,.labelprenom{
  font-family: seizeBit;
}

.erreurNom {
  margin-bottom: 50px;
  margin-top: -10px;
}
.erreurPair{
  margin-top: 10px;
}

.box{
  width: calc(20% - 200px);
  height: 150px; /* Vous pouvez ajuster la hauteur selon vos préférences */
  margin: 5px; /* Espacement entre les boîtes */
  background-color: rgb(255, 255, 255);
  background-image: url("img/carte.gif");
  background-repeat: no-repeat;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone d'arrière-plan */
  background-position: center;
  display: flex;
  font-size: 0px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10%;
  cursor: pointer;
}


.show {
  font-size: 80px;
  text-align: center;
  pointer-events:none;
  background-image: none;
}

.match{
  background-color: transparent;
  background-image: none;
  color: transparent;
  border-color: transparent;
  visibility: hidden;
}

.timer{
  margin: 0 auto;
  text-align: center;
}

.temp{
  font-family: seizeBit;
  color:red;
  margin: 0 auto ;
  font-size: 80px;
}

#nom{
  text-align: center;
  font-size: 300%;
  font-family: seizeBit;
  color: #6C9AFC
}

.gagner{
  color: rgb(15, 174, 15);
  text-align: center;
  font-size: 450%;
  font-family: seizeBit;
  margin-top: 20%;
}

.resetGreen{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px rgb(0, 0, 0);
  margin: 0 auto;
  font-family: seizeBit;
}

.resetGreen:hover{
  background-color:rgb(2, 91, 2)
}

.resetRed{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px rgb(0, 0, 0);
  margin: 0 auto;
  font-family: seizeBit;
}

.resetRed:hover{
  background-color: rgb(122, 4, 4)
}

.perdu{
  font-size: 300%;
  color: rgb(255, 0, 0);
  font-family: seizeBit;
  margin-top: 20%;
}

.verouillerBoardgame{
  pointer-events:none;
  visibility: hidden;
  
}

.createur{
  color: white;
  float:right;
  margin-right: 100px;
  font-size: large;
  font-family: seizeBit;
}

/* Styles pour les appareils mobiles */
@media (max-width: 900px) {

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    
  }

  .box {
    width: calc(33.33% - 10px); /* 3 boîtes par ligne avec un espacement de 10px entre elles */
    height: 120px; /* Vous pouvez ajuster la hauteur selon vos préférences */
    margin: 5px; /* Espacement entre les boîtes */
  }

  header div {
    font-size: 150%; /* Ajustez la taille de la police pour les mobiles */
  }

  .titre{
    font-family: seizeBit;
    width: 99%;
    display: flex;
    color: white;
    font-size:150%;
    margin: 0 auto;
    text-decoration:underline;
  }

  .timer{
    margin: 0 auto;
    text-align: center;
  }
  .temp{
    font-family: seizeBit;
    color:red;
    margin: 0 auto ;
    margin-top: -15%;
    margin-bottom: 10%;
    font-size: 100%;
  }

  .formulaire {
    zoom: normal;
    width: 100%; /* Remplacez la largeur fixe par 100% pour s'adapter aux mobiles */
    margin-left: 0; /* Supprimez la marge gauche pour s'adapter aux mobiles */
  }

  .formulaire input,
  .formulaire select {
    width: 100%; /* Ajustez la largeur des champs de formulaire pour les mobiles */
    margin: 10px 0; /* Ajoutez un espace entre les champs de formulaire pour les mobiles */
  }

  .go {
    width: 100%; /* Ajustez la largeur du bouton "GO" pour les mobiles */
    font-size: 24px; /* Ajustez la taille de la police pour les mobiles */
  }

  .labelPair,
  .labelprenom {
    font-size: 100%; /* Ajustez la taille de la police des étiquettes pour les mobiles */
    margin-left: 0; /* Supprimez la marge gauche pour s'adapter aux mobiles */
    
  }
  .erreurNom {
    margin-bottom: 50px;
  }
  .erreurPair{
    margin-top: 10px;
  }

  #nom {
    font-size: 130%; /* Ajustez la taille de la police pour les mobiles */
    margin-top: -30px; /* Ajustez la marge supérieure pour les mobiles */
  }

  .gagner {
    font-size: 120%; /* Ajustez la taille de la police pour les mobiles */
    margin-top: 60%;
    margin-bottom: 15%;
  }

  .perdu {
    font-size: 100%; /* Ajustez la taille de la police pour les mobiles */
  }

  .resetRed,
  .resetGreen {
    font-size: 16px; /* Ajustez la taille de la police des boutons pour les mobiles */
    padding: 10px 20px; /* Ajustez la taille des boutons pour les mobiles */
    margin-top: -30px; /* Ajustez la marge supérieure pour les mobiles */
  }

  .resetRed:hover{
    background-color: rgb(122, 4, 4)
  }
  
  
  .resetGreen:hover{
    background-color:rgb(2, 91, 2)
  }

  .createur {
    margin-right: 20px; /* Ajustez la marge droite pour les mobiles */
    font-size: 10px; /* Ajustez la taille de la police pour les mobiles */
  }

  .show {
    font-size: 80px;
    text-align: center;
    pointer-events:none;
    background-image: none;
  }
   
  .match{
    background-color: transparent;
    background-image: none;
    color: transparent;
    border-color: transparent;
    visibility: hidden;
  }
}
